
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #333;

}
/* card start */
.container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}

.card{
    background: rgb(255, 255, 255);
    width: 270px;
    /* height: 400px; */
    margin: 10px;
    border-radius: 15px;
}
.card-image{
    /* background-color: cyan; */
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.card-1{
    background-image: url('/Images/LANG.png');
}
.card-2{
    background-image: url('/Images/LANG1.png');
}
.card-3{
    background-image: url('/Images/LANG10.png');
}.card p,h2{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 8px;
    text-decoration: none;
  
}
.card:hover{
    background-color: #382929;
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.8s ease;
}
/* CARD END */

/* FOOTER - start */
body{ 
    line-height: 1.5;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
 
footer .container {
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    border-radius: 8px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom:10px ;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 2px;
}

.social-links{
    display: flex;
    width: 14rem;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

/* responsive */
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }

}
@media(max-width:574px){
    .footer-col{
        width: 100%;

    }

}

/* footer -end */